body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.jumbotron-fluid{
  background-image: url("../images/Jeopardy-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
  height: 30vh;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.answers{
  box-shadow: 2px 2px 5px #0b3f94;
}

#mute,
#reset,
#question-box,
#timer,
#start-button{
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}

#mute,
#reset{
  font-size: 110%;
  cursor: pointer;
}


#timer{
  font-size: 250%;
  color: #6c757c;
  text-shadow: 2px 2px 5px #0b3f94;
}

#question{
  font-family: 'Lora', sans-serif;
  font-size: 225%;
  color: #6C757C;
  text-shadow: 2px 2px 5px #0B3F94;
}

#question-container{
  position: relative;
}

#start-button-container{
  position: absolute;
  /* margin-top: 25%; */
  right: 0;
}

#answer-container{
  display: none;
  /* visibility: hidden; */
}

#start-button{
  visibility: visible;
}

