body{
  background-image: url("../images/background.jpg");
}

.jumbotron-fluid{
  background-image: url("../images/Jeopardy-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
  height: 30vh;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#mute,
#quit,
#question-box{
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}