body{
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.jumbotron-fluid{
  background-image: url("../images/Jeopardy-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
  height: 30vh;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#mute,
#quit,
#question-box,
#timer{
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}

#mute,
#quit{
  font-size: 110%;
}

#timer{
  font-size: 250%;
  color: #6c757c;
  text-shadow: 1px 1px 5px #0b3f94;
}

#question{
  font-family: 'Lora', sans-serif;
  font-size: 225%;
  color: #6C757C;
  text-shadow: 1px 1px 5px #0B3F94;
}